.asciinema-theme-aks .asciinema-terminal {
  color: #c7ea1a;                    /* default text color */
  background-color: #000000;         /* terminal background color */
  border-color: #272822;
}
.asciinema-theme-aks .fg-bg {    /* inverse for default text color */
  color: #272822;
}
.asciinema-theme-aks .bg-fg {    /* inverse for terminal background color */
  background-color: #f8f8f2;
}
.asciinema-theme-aks .fg-0 {
  color: #272822;
}
.asciinema-theme-aks .bg-0 {
  background-color: #272822;
}
.asciinema-theme-aks .fg-1 {
  color: #f92672;
}
.asciinema-theme-aks .bg-1 {
  background-color: #f92672;
}
.asciinema-theme-aks .fg-2 {
  color: #a6e22e;
}
.asciinema-theme-aks .bg-2 {
  background-color: #a6e22e;
}
.asciinema-theme-aks .fg-3 {
  color: #f4bf75;
}
.asciinema-theme-aks .bg-3 {
  background-color: #f4bf75;
}
.asciinema-theme-aks .fg-4 {
  color: #66d9ef;
}
.asciinema-theme-aks .bg-4 {
  background-color: #66d9ef;
}
.asciinema-theme-aks .fg-5 {
  color: #ae81ff;
}
.asciinema-theme-aks .bg-5 {
  background-color: #ae81ff;
}
.asciinema-theme-aks .fg-6 {
  color: #a1efe4;
}
.asciinema-theme-aks .bg-6 {
  background-color: #a1efe4;
}
.asciinema-theme-aks .fg-7 {
  color: #f8f8f2;
}
.asciinema-theme-aks .bg-7 {
  background-color: #f8f8f2;
}
.asciinema-theme-aks .fg-8 {
  color: #75715e;
}
.asciinema-theme-aks .bg-8 {
  background-color: #75715e;
}
.asciinema-theme-aks .fg-9 {
  color: #f92672;
}
.asciinema-theme-aks .bg-9 {
  background-color: #f92672;
}
.asciinema-theme-aks .fg-10 {
  color: #a6e22e;
}
.asciinema-theme-aks .bg-10 {
  background-color: #a6e22e;
}
.asciinema-theme-aks .fg-11 {
  color: #f4bf75;
}
.asciinema-theme-aks .bg-11 {
  background-color: #f4bf75;
}
.asciinema-theme-aks .fg-12 {
  color: #66d9ef;
}
.asciinema-theme-aks .bg-12 {
  background-color: #66d9ef;
}
.asciinema-theme-aks .fg-13 {
  color: #ae81ff;
}
.asciinema-theme-aks .bg-13 {
  background-color: #ae81ff;
}
.asciinema-theme-aks .fg-14 {
  color: #a1efe4;
}
.asciinema-theme-aks .bg-14 {
  background-color: #a1efe4;
}
.asciinema-theme-aks .fg-15 {
  color: #f9f8f5;
}
.asciinema-theme-aks .bg-15 {
  background-color: #f9f8f5;
}
.asciinema-theme-aks .fg-8,
.asciinema-theme-aks .fg-9,
.asciinema-theme-aks .fg-10,
.asciinema-theme-aks .fg-11,
.asciinema-theme-aks .fg-12,
.asciinema-theme-aks .fg-13,
.asciinema-theme-aks .fg-14,
.asciinema-theme-aks .fg-15 {
  font-weight: bold;
}
